<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Api Base en Partes</title>
    <style>
        @media only screen and (max-width: 600px) {
            body {
                font-size: 14px;
            }
        }
    </style>
    <link rel="stylesheet" href="/public/style.css" type="text/css">
    <link rel="stylesheet" href="/public/bootstrap.min.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="https://google.com">Google</a></li>
                <li><a href="https://gmail.com">Gamail</a></li>
            </ul>
        </nav>
    </header>
<main>
<div class="container-fluid">
<div class="row row-col-2">
    <div class="col-md-6 bi">
        <p>Textourrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
            rrrrrrrrrrrrrrrrrrrrrrrrrrrffsafsafafasj9sjfihsjiofjofishjfojfaijfoajiofjnbdookonnobdfobnodnondfonbonfbokokbdbr
            controlar desbordamiento.
        </p>
        <h1>PostForm</h1>
        <form action="/acounts/" content-type="application/json" id="PostForm" class="border" method="post">
            <label id="pass">Password:</label>
            </br>
            <input id="pass" name="pass" type="text" required=""/>
            </br>
            <label id="email">Email:</label>
            </br>
            <input id="email" name="email" type="email" required=""/>
            </br>
            <label id="name">Name:</label>
            </br>
            <input id="name" name="name" type="text" required=""/>
            </br>
            <label id="age">Age:</label>
            </br>
            <input id="age" name="age" type="number" required=""/>
            </br>
            <label id="fecha">Fecha Inicio:</label>
            </br>
            <input id="fecha" name="fecha" type="date" required=""/>
            </br>
            <label id="activo">Activo:</label>
            </br>
            <input id="activo" name="activo" type="checkbox"/>
            </br>
            <button type="submit">Nuevo Usuario:</button>
        </form>
        <code id="jsonPost"></code>
    </div>
    <div class="col-md-4 bi"></div>
</div>
</div>
<script src="/public/script.js"></script>
</main>
</body>
</html>
