<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Api Base en Partes</title>
    <style>
        @media only screen and (max-width: 600px) {
            body {
                font-size: 14px;
            }
        }
    </style>
    <link rel="icon" href="#" />
    <link rel="stylesheet" href="/public/style.css" type="text/css">
    <link rel="stylesheet" href="/public/bootstrap.min.css">
    <script type="text/javascript" src="/public/jquery/jquery-3.7.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $("#newget").on("click", function(){
                alert("Este es un mensaje jquery.");
                $("#parrafohtml").html("Este es un mensaje jQuery");
            });
        }); 
        /*$(document).ready(function(){
            $("#newget").click(function(){
            $.get("../public/apisota.json", function(data, status){
                $("#parrafohtml").html(JSON.stringify(data));
                });
            });
        })*/
    </script> 
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="https://google.com">Google</a></li>
                <li><a href="https://gmail.com">Gamail</a></li>
            </ul>
        </nav>
    </header>
<main>
<div class="container-fluid">
<div class="row row-col-2">
    <div class="col-md-6 bi">
        <p>Textourrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrrr
            rrrrrrrrrrrrrrrrrrrrrrrrrrrffsafsafafasj9sjfihsjiofjofishjfojfaijfoajiofjnbdookonnobdfobnodnondfonbonfbokokbdbr
            controlar desbordamiento.
        </p>
        <div id="form1">
            <h1>PostForm</h1>
            <form action="/acounts/" content-type="application/json" id="PostForm" class="border" method="post">
                <label id="pass">Password:</label>
                </br>
                <input id="pass" name="pass" type="text" required=""/>
                </br>
                <label id="email">Email:</label>
                </br>
                <input id="email" name="email" type="email" required=""/>
                </br>
                <label id="name">Name:</label>
                </br>
                <input id="name" name="name" type="text" required=""/>
                </br>
                <label id="age">Age:</label>
                </br>
                <input id="age" name="age" type="number" required=""/>
                </br>
                <label id="fecha">Fecha Inicio:</label>
                </br>
                <input id="fecha" name="fecha" type="date" required=""/>
                </br>
                <label id="activo">Activo:</label>
                </br>
                <input id="activo" name="activo" type="checkbox"/>
                </br>
                <button type="submit">Nuevo Usuario:</button>
            </form>
            <code id="jsonPost"></code>
        </div>
        <div id="form2">
            <h1>Get Form</h1>
            <form action='/acounts' id="get_form"  method='GET'>
                <label id="name">Nombre:</label>
                </br>
                <input id="name" name="name" type="text" required=""/>
                </br>
                <button type="submit">Get</button>
            </form>
            <code id="jsongete"></code>
        </div>
        <div id="form3">
            <h1>Patch del estado</h1>
            <form action='/acounts/?_method=PATCH' id="alter_form"  method='POST'>
                <label id="pass">Password:</label>
                </br>
                <input id="pass" name="pass" type="text" required=""/>
                </br>
                <label id="name">Nombre:</label>
                </br>
                <input id="name" name="name" type="text" required=""/>
                </br>
                <label id="activo">Nuevo estado:</label>
                </br>
                <input id="activo" name="activo" type="checkbox"/>
                </br>
                <button type="submit">Patch</button>
                </br>
            </form>
            <code id="jsonpatch"></code>
        </div>
        <div id="form4">
            <h1>Update Form</h1>
            <form action='/acounts/?_method=PUT' id="put_form"  method='POST'>
                <label id="_id">Id Usuario:</label>
                </br>
                <input id="_id" name="_id" type="text" required=""/>
                </br>
                <label id="pass">Password:</label>
                </br>
                <input id="pass" name="pass" type="text" required=""/>
                </br>
                <label id="name">New Name:</label>
                </br>
                <input id="name" name="name" type="text" required=""/>
                </br>
                <label id="email">New Email:</label> 
                </br>
                <input id="email" name="email" type="email" required=""/>
                </br>
                <label id="activo">New Estado:</label>
                </br>
                <input id="activo" name="activo" type="checkbox"/>
                </br>
                <label id="age">New Age:</label>
                </br>
                <input id="age" name="age" type="number" required=""/>
                </br>
                <label id="fecha">New Date:</label>
                </br>
                <input id="fecha" name="fecha" type="date" required=""/>
                </br>
                <button type="submit">Update</button>
            </form>
            <code id="jsonUpdate"></code>
        </div>
        <div id="form5">
            <h1>Delete Form</h1>
            <form action='/acounts/?_method=DELETE' id="delete_form"  method='POST'>
                <label id="pass">Password:</label>
                </br>
                <input id="pass" name="pass" type="text" required=""/>
                </br>
                <label id="name">Nombre:</label>
                </br>
                <input id="name" name="name" type="text" required=""/>
                </br>
                <button type="submit">Delete</button>
            </form>
            <code id="jsonDelete"></code>
        </div>
        <div id="jsonlocal">
            <h2>--Busca JSON local--</h2>
            <button id="but" name="but" class="but" type="button">Heros:</button>
            <!--<button class="btn btn-default">Heros:</button>-->
            </br>
            <code class="infojson"></code>
        </div>
        <div>
            <h2>Alerta jQuery</h2>
            <button name="nuevog" id="newget" type="button" class="button">Ck</button>
            <p id="parrafohtml"></p> 
        </div>
        <div id="mascotas">
            <h1>Mascotas</h1>
            <form  id="FormMascota" class="border" >
            <fieldset>
                <label id="Mascota">Mascota:</label>
                </br>
                <input id="Mascota" name="Mascota" class="Mascota" type="text" value="" placeholder="PERRO" required=""/>
                </br>
                <label id="tiene">Tiene:</label>
                </br>
                <input id="tiene" name="tiene" class="tiene" type="checkbox"/>
                </br>
                <button type="submit">Info mascota:</button>
                </br>
                <div>
                    <h2 id="jsonResultMascota"></h2>
                </div>
            </fieldset>
            </form>
        </div>
        
    </div>
    <div class="col-md-4 bi"></div>
</div>
</div>
<script src="/public/script.js"></script>
<script src="/public/scriptTwo.js"></script>
</main>
</body>
</html>
